.headerBackground {
    background-color: #1E73BE;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 100px;
    color: #fff;
    align-items: center;
}

.headerBackground > div {
    display: flex;
    justify-content: center;
}

.menu {
    flex: 3;
}

.menu > a {
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
}

.logo {
    flex: 1;
}

.search{
    flex: 3;
}

.menu > a:first-child { margin-left: auto; }
.menu > a:last-child { margin-right: 0; }
.search > a { margin-right: auto;  }

.searchBox {
    border: none;
    outline: 0;
    background-color: #fff;
    color: #444;
    height: 30px;
    width: 190px;
    font-size: 14px;
    padding-left: 30px;
}

.personalIcon {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    width: 26px;
    height: 26px;
    border-radius: 5px;
    background-color: #fff;
    color: #1E73BE;
    margin-right: 10px;
    padding-right: 6px;
}
