.footerBottomContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    font-size: .9em;
    font-weight: 300;
}

.footerBottomContainer > .links {
    display: flex;
    align-self: center;
}
.footerBottomContainer > .links > a {
    margin-right: 1.5em;
}
.footerBottomContainer > .links > a:last-child {
    margin-right: 0;
}