@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700|Material+Icons');

html, body {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
    box-shadow: none;
}

img {
    margin: 0;
    padding: 0;
}

input {
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    padding: 5px;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}
