@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700|Material+Icons');

html, body {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
    box-shadow: none;
}

img {
    margin: 0;
    padding: 0;
}

input {
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    padding: 5px;
}
